* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Quicksand, sans-serif;
    list-style: none;
    text-decoration: none;
}

:root {
    --bg-color: #020312;
    --text-color: #fff;
    --primary-color: #eb4a4a;
    --secondary-color: grey;
    --tertiary-color: #12141c;
    --h1-font: 5rem;
    --h2-font: 3rem;
    --h3-font: 2rem;
    --h4-font: 1.5rem;
    --h5-font: 1.4rem;
    --h6-font: 1.1rem;
    --p-font: 1rem;
    --a-font: 1.2rem;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
}

header {
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
}

header.sticky {
    background-color: var(--bg-color);
    padding: 10px 15%;
    border: 1px solid var(--bg-color);
}

.logo img {
    width: 150px;
    height: auto;
}

.navbar {
    display: flex;
}

.navbar a {
    color: var(--secondary-color);
    font-size: var(--p-font);
    padding: 10px 25px;
}

.navbar a:hover {
    background-color: var(--primary-color);
    color: var(--text-color);
    transition: all .40s ease;
    border-radius: 0.8rem;
}

section {/* transition, fade in, fade out ile gecisler eklenebilir*/
    padding: 200px 15%;
}

.home {
    width: 100%;
    height: 90vh;
    max-width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background: url("../img/background.jpg");
    background-size: cover;
    background-position: center;
}

.home-text h4 {
    color: var(--primary-color);
    font-size: var(--h4-font);
    font-weight: 600;
}

.home-text h1 {
    font-size: var(--h1-font);
    font-weight: bold;
    margin: 20px 0px;
    line-height: 1.2;
    letter-spacing: 2px;
}

.home-text span {
    color: var(--primary-color);
}

.home-text h3 {
    font-size: var(--h3-font);
    font-weight: 600;
    margin-bottom: 2rem;
}

.btn {
    font-size: var(--a-font);
    font-weight: 600;
    background-color: var(--primary-color);
    color: var(--text-color);
    padding: 15px 40px;
    border-radius: 0.8rem;
}

.btn:hover {
    background: transparent;
    opacity: 1;
    border: 1px solid var(--primary-color);
}

.about {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
}

.about-text h4 {
    color: var(--primary-color);
    font-size: var(--h4-font);
    font-weight: 600;
}

.about-text h2 {
    font-size: var(--h2-font);
}

.about-text p{
    color: var(--secondary-color);
    font-size: var(--p-font);
    line-height: 25px;
}

.about-features {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 1rem;
    margin-bottom: 2rem;
}

.about-features h5 {
    font-size: var(--h5-font);
    font-weight: 600;
}

.about-img img {
    width: 100%;
    height: auto;
    max-width: 450px;
}

.main-text {
    text-align: center;
}

.main-text h2 {
    font-size: var(--h2-font);
    font-weight: 600;
    margin-bottom: 10px;
}

.main-text h4 {
    font-size: var(--h4-font);
    font-weight: 600;
    color: var(--primary-color);
    margin-bottom: 10px;
}

.services-content {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    text-align: center;
    gap: 1.5rem;
    margin-top: 4rem;
    /* ya da
    display: flex;
    align-items: center;
    justify-content: space-between;
    */
}

.box {
    background: var(--tertiary-color);
    padding: 40px;
    border-top: 5px solid transparent;
    border-radius: 0.8rem;
}

.box h3 {
    margin-top: 0.5rem;
    color: var(--text-color);
    font-size: var(--h3-font);
}

.box p {
    color: var(--secondary-color);
    margin-top: 20px;
    line-height: 1.4;
}

.box:hover{
    border-top: 5px solid var(--primary-color);
    transition: all .40s ease;
}

.box:hover h3 {
    color: var(--primary-color);
}

.portfolio-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1.5rem;
}

.portfolio-box {
    background: var(--tertiary-color);
    border-radius: 0.8rem;
}

.portfolio-box img {
    width: 90%;
    margin: 5%;
}

.portfolio-box-text {
    color: var(--primary-color);
    font-size: var(--h6-font);
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 1.5rem;
}

.portfolio-box-icon {
    color: var(--text-color);
    font-size: var(--h5-font);
}

.portfolio-box h4 {
    color: var(--text-color);
    font-size: var(--h4-font);
    margin: 1.5rem;
    text-align: left;
}

.contact {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contact-text {
    margin-right: 1.5 rem;
}

.contact-text h2 {
    color: var(--text-color);
    font-size: var(--h2-font);
    font-weight: 600;
    margin-bottom: 1rem;
}

.contact-text h4 {
    color: var(--primary-color);
    font-size: var(--h4-font);
    font-weight: 600;
    margin-bottom: 1rem;
}

.contact-text p {
    color: var(--secondary-color);
    font-size: var(--p-font);
    margin-bottom: 1.5rem;
}

.contact-data {
    margin-bottom: 2rem;
}

.contact-data a {
    color: var(--secondary-color);
    font-size: var(--p-font);
    font-weight: 600;
    display: flex;
    margin-bottom: 0.5rem;
}

.contact-icons a {
    border-radius: 0.3rem;
    padding: 0.5rem;
    margin-right: 0.3rem;
    background-color: var(--tertiary-color);
    color: var(--primary-color);
}

.contact-form form {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

.input-area {
    width: 400px;
    background-color: var(--tertiary-color);
    border: 2px solid var(--tertiary-color);
    border-radius: 0.2rem;
    padding: 10px;
    color: var(--secondary-color);
    font-weight: 600;
}

.contact-form form input[type="submit"] {
    width: 40%;
}

.last-text p{
    color: var(--secondary-color);
    font-size: var(--p-font);
    font-weight: 600;
    text-align: center;
    margin-bottom: 1rem;
}